<div class="container letra">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row mb-5">
                <div class="col-md-4">
                    <div class="card carta" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card carta" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card carta" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">reparación de computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card col-md-12 mb-5">
                <div class="row">
                    <div class="col-md-3 mx-3 pt-1">
                        <img src="assets/300imagen_ecomerce1878382822.jpeg" style="width: 18rem;" class="card-img-top">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Windows 10 PRO</h5>
                            <p class="card-text">
                                Nuestro servicio incluye. <br>
                                - Instalar Windows 10 PRO <br>
                                - Instalación de Software <br>
                                <strong>- Precio del servicio $15000 + IVA</strong> <br>
                            </p>
                            
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button>
                              
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Detalles del servicio</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <strong>La Instalación de Windows 10 PRO incluye.</strong><br>
                                            - Instalar Windows 10 PRO.<br>
                                            - Drivers: Audio, video, chipset, red (Wi-Fi y Ethernet).<br>
                                            <strong>Software que se incluyen con nuestro servicio:</strong><br>
                                            - WinRAR: Para comprimir y descomprimir archivos.<br>
                                            - Adobe Reader: Para abrir archivos PDF.<br>
                                            - Google Chrome: Navegador web.<br>
                                            - LibreOffice: Software de oficina.<br>
                                            - Malwarebytes: Protección adicional contra malware.<br>
                                            - VLC Media Player: Para reproducir videos y música.<br>
                                            <strong>Usted puede incluir Software adicionales como:</strong><br>
                                            - Herramientas de diseño grafico.<br>
                                            - IDEs de desarrollo.<br>
                                            - Herramientas de trabajo específicas.<br>
                                            <strong>Tambien puede quitar Software si es que no lo necesita</strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>