.letra {
    font-family: 'Comic Sans MS', sans-serif;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
  
app-navegacion {
    grid-row: 1;
}
  
app-footer {
    grid-row: 3;
}
  